.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 25em;
  max-width: 25em;
  aspect-ratio: 1.618033989 / 1;
  border-radius: 1em;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.modal > input {
  position: relative;
  top: 10%;
  max-height: min-content;
  height: 1.5em;
  min-width: 10em;
  max-width: 100%;
  width: 10em;
  box-sizing: border-box;
  border-radius: 0.5em;
  font-size: 1em;
  margin: 0 auto;
}

.expand {
  animation-name: expand;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@keyframes expand {
  0% {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25em;
    max-width: 25em;
  }
  100% {
    top: 1em;
    left: 1em;
    transform: translateX(0) translateY(0);
    min-width: calc(100% - 2em);
    aspect-ratio: 2 / 1;
    /* aspect-ratio: 1 / 1.618033989; */
  }
}